/*CSS Reset*/
body, h1, h2, h3, p, ul, ol, li{
	padding: 0;
	margin: 0
}
body {
	background-color: #F9F4F2;
	font-family:'helvatica,' sans-serif;
}

#container {
	width: 1000px;
	background-color: #F9F4F2; 
	position: relative;
	margin: 0 auto;
	text-align: center;

}

nav{
	position: relative;
	left: 0;
	top: 10px;
	margin: 0 auto;
	width: 410px;
	font-family: helvatica, sans-serif;
	
}


nav ul li{
	list-style: none;
	position: relative;
	float: left;
	margin: 0 auto;
	text-align: center;
	font-family: helvatica, sans-serif;
}

nav ul li a{
	color: #FFFFFF;
	background: #CFC8B9;
	/* advantage of doing padding on the anchor tag
	is that the anchor tag space becomes clickable as opposed
	to just the words*/
	padding: 10px 20px;
	border-left: 2px solid;
}
nav ul li:first-child a{
	border-left: none;
}
/*sub level nav*/
nav ul li ul{
	position: absolute;
	top: 30px;
	left: -9999px;
}
nav ul li a:hover{
	color: ;
	background-color: ;
	text-transform: 
}

nav ul li ul li{
	float: none;

}

nav ul li:hover ul{
	left: 0px;
}
nav ul li ul li a{
	width: 90px;
	display: inline-block;
	border: none;

}





#user-meta #user-fullname {
padding-top: 10px;
padding-bottom: 10px;
color: #4d4d4d;
overflow: hidden;
line-height: 33px;
clear: both;
position: relative;

}

#user-avatar{
	position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: #CFC8B9;
  margin: 86.60px 0;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
-ms-transform: rotate(30deg); /* IE 9 */
-webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
transform: rotate(30deg);
}

#user-avatar:before,
#user-avatar:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

#user-avatar:before {
  bottom: 100%;
  border-bottom: 86.60px solid #CFC8B9;
}

#user-avatar:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #CFC8B9;
}

#user-fullname{
position:relative;
text-align: center;
width: 150px;
font-color: #F2F2F2;
background: #CFC8B9;
	/* advantage of doing padding on the anchor tag
	is that the anchor tag space becomes clickable as opposed
	to just the words*/
padding: 10px 20px;
display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 30px;
}

#description-box{
position:relative;
text-align: center;
width: 300px;
height: 75px;
font-color: #F2F2F2;
	background: #CFC8B9;
	/* advantage of doing padding on the anchor tag
	is that the anchor tag space becomes clickable as opposed
	to just the words*/
	padding: 30px 20px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: helvatica, sans-serif;
  font-size: 11;
  font-weight: lighter;
}






























}