body {
	font-size: 25px;
}
h1{

width: 200px;
height: 50px;
line-height: 50px;
font-size: inherit;
background-color: blue;
text-align: cetner;
border-radius: 4px;
position: relative;
margin: 0 auto
}

h1:before, h1:after {
	display: block;
	width: 200px;
	height: 50px;
	border-radius: 4px;
	position: absolute;
	top: 0; 
}

h1:before{
	content:"button 1";
	left: -210px;
	top: 0;
	background-color: red;
}

h1:after{
	content: "button 3";
	right: -210px;
	top: 0;
	background-color: green;
}
