
body{
	margin: 0;
}
header{
	background-color: #c1e6fc;
}
header img {
	display: block;
	width: 200px;
	margin: 0 auto;
	background-color: white;
	/*padding: 10px;*/
	padding: 10px;
	/* padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-left: 10px;*/
	border-radius: 5px;

}
nav{
	padding: 10px 0;
	}

header ul{
	padding: 0;
	font-family: helvetica;
	font-size: 20px;
}
header ul li{

		display: inline-block;
		float: left;
		width: 25%;
		text-align: center;
		padding: 0 5px;
		color: rgba(13,121,185,.5);
		transition: all 150ms ease-out;
		/*-webkit-transition, -moz-, etc */

}

header ul li:hover {

	
	color: rgba(13, 121, 185, 1);
	font-size: 25px;
	font-weight: 900;


}
#hero{
	height: 300px;
	background-image: url("../img/sky.jpg");
	background-size: cover;
	background-attachment: fixed;
}

main {
		background-color: #dedede;

}

section{
	width: 80%;
	margin: 0 auto;
	position: relative;


}
section img{
width: 25%;
border-radius: 50%;
float: left;
padding: 10px;
border: 1px solid #ccc;
background-color: #efefef;
position: absolute;
top: 10px;
left: 10%;
z-index: 0;
transition: left 150ms ease-out;

}


section img:hover {
	left: 0%;
	-webkit-transform: rotate(180deg) scale(2);
    -moz-transform: rotate(180deg) scale(2);
    transform: rotate(180deg) scale(2);}


section article{ 
	width: 80%;
	float: right;
	padding: 40px;
	background-color: white;
	position: relative;
	z-index: 2;
}
section article:before{
	content: " ";
	display: block;
	background-color: white;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: -100px;
	background-image: url("../img/mail.png");
	background-repeat: repeat-x;
}


section article h1{
	font-size: 45px;


}
section article p{
	font-size: 20px;
	line-height: 1.5;
	margin: 16px 0;


}

section article h2{
	font-size: 30px;
	float: right;
	font-family: 'Sacramento', cursive;

}



























